<section class="container row">
    <div class="col">
        <h1>Gracias por tu compra!</h1>
        <p>Un correo ha sido enviado para confirmar lo que adquiriste</p>
        <p>Cualquier inconveniente pónganse en contacto con nosotros</p>
    </div>
</section>
<script src="./js/gracias.js"></script>
<script src="./js/navbar.js"></script>