<section class="container" id="index-section">
  <div id="signin-div" class="border border-dark mt-5 bg-primary rounded d-none">
    <form id="signin-form" class="m-3 text-white fw-bold">
      <div class="mb-3">
        <label for="inputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="inputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" required>
      </div>
      <button type="submit" class="btn btn-success fw-bold">Ingresar</button>
    </form>
  </div>
  <div id="signup-div" class="border border-dark mt-5 bg-primary rounded d-none">
    <form id="signup-form" class="m-3 text-white fw-bold">
      <div class="mb-3 row">
        <div class="col">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputName" required>
        </div>
        <div class="col">
          <label for="inputLastname" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="inputLastname" required>
        </div>
      </div>
      <div class="mb-3">
        <label for="inputPhone" class="form-label">Teléfono</label>
        <input type="number" class="form-control" id="inputPhone" required>
      </div>
      <div class="mb-3">
        <label for="inputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="inputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword1" required>
      </div>
      <div class="mb-3">
        <label for="inputPassword2" class="form-label">Repetir Contraseña</label>
        <input type="password" class="form-control" id="inputPassword2" required>
      </div>
      <button type="submit" class="btn btn-secondary fw-bold">Registrarse</button>
      <div id="text-error-register"></div>
    </form>
  </div>
</section>
<section class="container d-none" id="products-section">
    <div class="row bg-danger">
        <div class="text-white fw-bold col-6 justify-content-end">Categorías: </div><a class="text-white col-2 text-decoration-none" href="/api/productos/category/familiar">Familiar</a><a class="text-white col-2 text-decoration-none" href="/api/productos/category/estrategia">Estrategia</a><a class="text-white col-2 text-decoration-none" href="/api/productos/category/roll&write">Roll & Write</a>
    </div>
    <div class="products-table">
        <div>
            <h2>Productos</h2>
            <table class="table bg-white text-center" id="tableProducts">
                <tr>
                    <th>Nombre</th>
                    <th>Precio [$]</th>
                    <th>Imagen</th>
                    <th>Agregar al carrito</th>
                </tr>
            </table>
        </div>
    </div>
</section>
<section class="container d-none" id="chat-section">
    <div class="mt-3 bg-light p-3 border border-dark">
        <h2>Centro de Mensajes</h2>
        <div class="border border-primary m-3">
            <ul id="messages" class="list-group"></ul>
        </div>
        <form id="form" action="" class="input-group">
                <input class="form-control" id="msg_input" autocomplete="off" aria-describedby="button-addon1"
                    placeholder="mensaje" />
                <button class="btn btn-light btn-outline-dark" type="submit" id="button-addon1">Enviar</button>
        </form>
    </div>
</section>
<section class="container d-none" id="cart-section">
    <div id="cart-div">
        <h1 class="text-white">Carrito de Compras</h1>
        <div id="table-container" class="bg-warning">
            <table id="table-cart-products" class="m-auto table table-borderless" border="2" align="center">
                <tr>
                    <th>Nombre</th>
                    <th>Precio [$]</th>
                    <th>Imagen</th>
                    <th>Cantidad</th>
                    <th style='color:gray'>Eliminar Producto</th>
                </tr>
            </table>
        </div>
        <div id="buttons-cart">
        </div>
        <div id="message-cart"></div>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>